{{ template "chart.header" . }}
{{ template "chart.description" . }}

Current Chart version: {{ template "chart.version" . }}

A Helm chart for Kubernetes to run query-exporter

**Homepage:** <https://github.com/albertodonato/query-exporter>

{{ template "chart.valuesSection" . }}
